{% extends '//base1.html.twig' %}

{% block  body  %}

    <div class="col-lg-4">
        <div class="order_box">
            <h2>Your Order</h2>
            <ul class="list">
                <li>
                    <a href="#">Product
                        <span>Total</span>
                    </a>
                </li>
                {% set total=0 %}

                {% for e1 in infoLigne %}
                   {% set total=total+e1.prixligne %}
                {% endfor %}

                {% for e in panelist %}
                <li>
                    {% set varloop = loop.index %}

                    {% set ahah= 1 %}
                    {% set yes=1 %}

                    {% for e1 in infoLigne %}
                        {% set ahah= varloop %}
                        {% set yes=infoLigne[ahah-1] %}
                    {% endfor %}


                    <a href="#"> {{ e.libelle }}
                        <span class="middle">{{yes.quantite}}Piéces</span>
                        <span class="last">{{yes.prixLigne}}dt</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <ul class="list list_2">
                <li>
                    <a href="#">Subtotal
                        <span>{{ total }}DT</span>
                    </a>
                </li>

            </ul>
            <div class="payment_item">
                <div class="radion_btn">
                    <input type="radio" id="f-option5" name="selector" />
                    <label for="f-option5">Check payments</label>
                    <div class="check"></div>
                </div>
                <p>
                    Please send a check to Store Name, Store Street, Store Town,
                    Store State / County, Store Postcode.
                </p>
            </div>
            <div class="payment_item active">
                <div class="radion_btn">
                    <input type="radio" id="f-option6" name="selector" />
                    <label for="f-option6">Paypal </label>
                    <img src="img/product/single-product/card.jpg" alt="" />
                    <div class="check"></div>
                </div>
                <p>
                    Please send a check to Store Name, Store Street, Store Town,
                    Store State / County, Store Postcode.
                </p>
            </div>
            <div class="creat_account">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions</a>
            </div>
            <a class="btn_3" href="#">Proceed to Paypal</a>
        </div>
    </div>



{% endblock %}

